/* icon */

/* components */

#glc-doc .glc-bredcrumbs{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), color-stop(0.5, #F9FAFA), to(#F9FAFA));
	background-image: -webkit-linear-gradient(#FFFFFF, #F9FAFA 50%, #F9FAFA);
	background-image: -moz-linear-gradient(#FFFFFF, #F9FAFA 50%, #F9FAFA);
	background-image: -o-linear-gradient(#FFFFFF, #F9FAFA 50%, #F9FAFA);
	background-image: linear-gradient(#FFFFFF, #F9FAFA 50%, #F9FAFA);
    border-bottom: 1px solid #D9D9D9;
}
#glc-doc .glc-logo{	
}
#glc-doc .glc-box{
	background: none repeat scroll 0 0 #3F3D3D;
    border-bottom: 3px solid #3F3D3D;
    border-top: 3px solid #3F3D3D;
    -webkit-box-shadow:  0 0 6px 0 #3F3D3D;
	-moz-box-shadow:   0 0 6px 0 #3F3D3D;
	box-shadow:   0 0 6px 0 #3F3D3D;
}
	#glc-doc .glc-box-icon{
		position: relative;
	}
	#glc-doc .glc-box .glc-box-game-icon{
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 50;
	}
	#glc-doc .glc-box .glc-box-image{
		max-width: 370px; 
		max-height: 130px; 
		overflow: hidden;
	}
	#glc-doc .glc-box a:hover, #glc-doc .glc-box a:focus {
	    color: #FFFFFF;
	    opacity: 0.9;
	    text-decoration: none;
	}
	#glc-doc .glc-box .glc-box-caption{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
		color: #FFFFFF;
		line-height: 20px;
		padding: 15px;
	}
		#glc-doc .glc-box .glc-box-caption.glc-box-caption-text-right{
			text-align: right;	
		}
	
#glc-doc .glc-carousel{
    margin: 40px 0;
}
	#glc-doc .glc-carousel .carousel{ 
		margin-bottom: 0;
	}
	#glc-doc .glc-carousel .carousel.glc-carousel-info .carousel-inner .item {
    	text-align: left;
	}
	#glc-doc .glc-carousel .carousel .carousel-indicators li {
    	border: 1px solid #000000;
	}
		#glc-doc .glc-carousel .carousel .carousel-indicators li.active {
	    	background: #000000;
		}
/* navbar */
#glc-doc .glc-header{
	margin-bottom: 0;
	border-bottom: 5px solid #2c2e36;
}
	#glc-doc .glc-header .glc-header-logo{
    	min-height: 80px;
    	/*background: url("/images/style/default/header-stream.jpg") repeat scroll 0 130px;*/
	}
	#glc-doc .glc-header .glc-header-inner{
    	background-color: #40434e;
	}
		#glc-doc .glc-header .glc-header-inner .navbar-inverse .navbar-inner {
			background-image: none;
			background-color: transparent;
			background-repeat: inherit;
			border-color: transparent;
			box-shadow: none;
		}
	#glc-doc .glc-header .navbar .brand{
		padding: 0;
		margin-top: 5px;
		margin-bottom: 7px;
	}
	#glc-doc .glc-header .nav {

	}
	#glc-doc .glc-header .navbar {
    	margin-bottom: 0;
	}
	#glc-doc .glc-header .navbar .nav {
		margin-top: 15px;
	}
	#glc-doc .glc-header .navbar-inverse .brand, #glc-doc .glc-header .navbar-inverse .nav > li > a {
		text-transform: uppercase;
		font-size: 12px;
		color: #9fa1a6;
	}
		#glc-doc .glc-header .navbar-inverse .nav > li > a:hover {
			color: #fff;
			font-weight: 800;
		}
		#glc-doc .glc-header .navbar .navbar-inner{
		    -webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
/* Footer */	
#glc-doc .glc-footer{
	border-top: 5px solid #2C2E36;
	background: #40434E;
	padding: 40px 0 20px;
	color: #FFFFFF;
}

/* login */
#glc-doc .container .row-fluid .glc-bl-center {
    float: none;
    margin: 0 auto;
}
#glc-doc .glc-login{
}
	#glc-doc .glc-login .form-signin{
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
		#glc-doc .glc-login .form-signin input{
			width: 100%;
		}
			#glc-doc .glc-login .form-signin input[type="text"]{
			    margin-bottom: -1px;
			    border-bottom-left-radius: 0;
			    border-bottom-right-radius: 0;
			}
			#glc-doc .glc-login .form-signin input[type="password"]{
			    margin-bottom: 10px;
			    border-top-left-radius: 0;
			    border-top-right-radius: 0;
			}
	#glc-doc .glc-login .account-wall{
	    margin-top: 20px;
	    padding: 40px 0px 20px 0px;
	    background-color: #f7f7f7;
	    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	}
	#glc-doc .glc-login .login-title{
	    color: #555;
	    font-size: 18px;
	    font-weight: 400;
	    display: block;
	}
	#glc-doc .glc-login .new-account{
	    display: block;
	    margin-top: 10px;
	}
	#glc-doc .glc-login .form-signin .form-control{
	    position: relative;
	    font-size: 16px;
	    height: auto;
	    padding: 10px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
/* carousel */      
#glc-doc .carousel .glc-carousel-info{	
}
	#glc-doc .carousel.glc-carousel-info .carousel-inner .item{
		text-align: center;
	}
		#glc-doc .carousel.glc-carousel-info .carousel-inner .item img{
			display: inline;
		}

/* blocos */ 
#glc-doc .bl-rows .row-fluid,
#glc-doc .bl-rows .row{
	margin-bottom: 30px;
}
#glc-doc .bl-destaque {
    background-image: linear-gradient(#F9FAFA, #FFFFFF 50%, #FFFFFF);
    border-top: 1px solid #D9D9D9;
    box-shadow: 0 1px white inset, 0 -1px white inset;
}
	#glc-doc .bl-destaque.bl-destaque-conteudo {
		margin-top: 40px;
	    padding: 40px 0;
	    text-align: center;
	}
#glc-doc .bl-conteudo{
	margin-top: 40px;
}
	#glc-doc .bl-conteudo .bl-conteudo-destaque{
		background-image: linear-gradient(#F9FAFA, #FFFFFF 50%, #F9FAFA);
	    border: 1px solid #D9D9D9;
		padding: 15px 8px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		 margin: 40px 0;
	}
#glc-doc .bl-info{
	margin-top: 60px;
	text-align: center;
}
#glc-doc .bl-bar{
	padding: 8px 0 0;
}
	#glc-doc .bl-bar .breadcrumb{
		background:transparent;
		margin: 0;
		padding: 0 15px;
	}
	
/* Publicidade */
#glc-doc .glc-publicidade{
	margin: 40px 0;
}
	#glc-doc .glc-publicidade.glc-publicidade-margin-bottom{
		margin-top: 0;
		margin-bottom: 40px;
	}
	#glc-doc .glc-publicidade.glc-publicidade-margin-top{
		margin-top: 40px;
		margin-bottom: 0;
	}
	#glc-doc .glc-publicidade p.glc-pub-info {
	    color: #9C9C9C;
	    font-size: 0.75em;
	    height: 14px;
	    line-height: 1.5;
	    overflow: hidden;
	    text-transform: uppercase;
	}
	#glc-doc .glc-publicidade .bl-pub-superbanner{
		margin: 0 auto;
	    text-align: center;
	    width: 728px;
	}
		#glc-doc .glc-publicidade .bl-pub-superbanner div{
		    min-height: 90px;
		}
		#glc-doc .glc-publicidade .bl-pub-superbanner p.glc-pub-info{
			text-align: left;
		}

/*****************************************************************************
* Paginas
****/
/*Home*/
.glc-home{
}
	.glc-home #glc-doc .glc-home-stream {
	    background: url(/images/style/default/bg-stream.jpg);
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 60px 0;
	}
	.glc-home #glc-doc .bl-destaque.bl-destaque-conteudo{
		 margin-top: 0;
	}
	.glc-home #glc-doc .glc-header{
		 margin-bottom: 0;
	}

/*about*/
.glc-about{
}
	.glc-about #glc-doc .glc-about-content .glc-header {
	    background: url(/images/style/default/bg-stream.jpg);
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 10px 0;
	}
	.glc-about #glc-doc .glc-header{
		 margin-bottom: 0;
	}

/*Stream*/
.glc-stream{
}
	.glc-stream #glc-doc .glc-stream-content .glc-header {
	    background: url(/images/style/default/bg-stream.jpg);
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 10px 0;
	}

/*Streaming*/
.glc-streaming{
}
	.glc-streaming #glc-doc .glc-streaming-content .glc-header {
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 60px 0;
	    height: 160px;
	}
	.glc-streaming #glc-doc .glc-streaming-content .glc-header .img-circle.glc-image-profile.pull-left{
		margin-right: 15px;
	}
	.glc-streaming #glc-doc .glc-header{
		 margin-bottom: 0;
	}

/* usuario editar*/
.glc-user-edit{
}
	.glc-user-edit #glc-doc .glc-user-edit-content .glc-header {
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 60px 0;
	    height: 160px;
	}
	.glc-user-edit #glc-doc .glc-user-edit-content .glc-user-edit-form {
	    margin: 60px 0;
	}
	.glc-user-edit #glc-doc .glc-user-edit-content .glc-header .img-circle.glc-image-profile.pull-left{
		margin-right: 15px;
	}
	.glc-user-edit #glc-doc .glc-header{
		 margin-bottom: 0;
	}

#glc-doc #footer .about {
	font-size: 12px;
	color: #9FA1A6;
}