/* icon */

/* components */

  /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      color: #5a5a5a;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
.carousel-caption h1, .carousel-caption .lead {
    color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.83) !important;
}
    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.71);
         -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.71);
              box-shadow: 0 5px 20px rgba(0, 0, 0, 0.71);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
	    background: none repeat scroll 0 0 rgba(122, 98, 155, 0.7);
	    margin-top: 150px;
	    max-width: 570px;
	    padding: 10px 20px 25px;
	    position: static;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    	.carousel-caption .lead {
    		margin-top: 10px;
    	}
        .carousel-caption .lead strong {
          margin-top: 5px;
          display: block;
        }
    .carousel-caption .btn {
      margin-top: 5px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }



.navbar-inner {
min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa !important;
background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2)) !important;
background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2) !important;
background-image: -o-linear-gradient(top, #ffffff, #f2f2f2) !important;
background-image: linear-gradient(to bottom, #ffffff, #f2f2f2) !important;
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #7A629B;
text-decoration: none;
background-color: #e5e5e5;
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
font-weight: 800;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
color: #7a629b;
text-decoration: none;
background-color: transparent;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
border-top-color: #333333 !important;
border-bottom-color: #333333 !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
color: #555555 !important;
background-color: #e5e5e5 !important;
}

#glc-doc .glc-bredcrumbs{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), color-stop(0.5, #F9FAFA), to(#F9FAFA));
	background-image: -webkit-linear-gradient(#FFFFFF, #F9FAFA 50%, #F9FAFA);
	background-image: -moz-linear-gradient(#FFFFFF, #F9FAFA 50%, #F9FAFA);
	background-image: -o-linear-gradient(#FFFFFF, #F9FAFA 50%, #F9FAFA);
	background-image: linear-gradient(#FFFFFF, #F9FAFA 50%, #F9FAFA);
    border-bottom: 1px solid #D9D9D9;
}
#glc-doc .glc-logo{	
}
#glc-doc .glc-box{
	background: none repeat scroll 0 0 #3F3D3D;
    border-bottom: 3px solid #3F3D3D;
    border-top: 3px solid #3F3D3D;
    -webkit-box-shadow:  0 0 6px 0 #3F3D3D;
	-moz-box-shadow:   0 0 6px 0 #3F3D3D;
	box-shadow:   0 0 6px 0 #3F3D3D;
}
	#glc-doc .glc-box-icon{
		position: relative;
	}
	#glc-doc .glc-box .glc-box-game-icon{
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 50;
	}
	#glc-doc .glc-box .glc-box-image{
		max-width: 370px; 
		max-height: 130px; 
		overflow: hidden;
	}
	#glc-doc .glc-box a:hover, #glc-doc .glc-box a:focus {
	    color: #FFFFFF;
	    opacity: 0.9;
	    text-decoration: none;
	}
	#glc-doc .glc-box .glc-box-caption{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
		color: #FFFFFF;
		line-height: 20px;
		padding: 15px;
	}
		#glc-doc .glc-box .glc-box-caption.glc-box-caption-text-right{
			text-align: right;	
		}
	
#glc-doc .glc-carousel{
    margin: 40px 0;
}
	#glc-doc .glc-carousel .carousel{ 
		margin-bottom: 0;
	}
	#glc-doc .glc-carousel .carousel.glc-carousel-info .carousel-inner .item {
    	text-align: left;
	}
	#glc-doc .glc-carousel .carousel .carousel-indicators li {
    	border: 1px solid #000000;
	}
		#glc-doc .glc-carousel .carousel .carousel-indicators li.active {
	    	background: #000000;
		}
/* navbar */
#glc-doc .glc-header-bg{
	color: #fff;
    text-shadow: 2px 2px 2px #000000;
    height: 130px;
    position: relative;
    margin-bottom: 20px;
    background: url('/images/style/default/slide-lol-01.jpg') repeat center center;
}
#glc-doc .glc-header{
	margin-bottom: 0;
}
	#glc-doc .glc-header .glc-header-logo{
    	min-height: 80px;
    	/*background: url("/images/style/default/header-stream.jpg") repeat scroll 0 130px;*/
	}
	#glc-doc .glc-header .glc-header-inner{
    	background-color: #40434e;
	}
		#glc-doc .glc-header .glc-header-inner .navbar-inverse .navbar-inner {
			background-image: none;
			background-color: transparent;
			background-repeat: inherit;
			border-color: transparent;
			box-shadow: none;
		}
	#glc-doc .glc-header .navbar .brand{
		padding: 0;
		margin-top: 5px;
		margin-bottom: 7px;
	}
	#glc-doc .glc-header .nav {

	}
	#glc-doc .glc-header .navbar {
    	margin-bottom: 0;
	}
	#glc-doc .glc-header .navbar .nav {
		margin-top: 15px;
	}
	#glc-doc .glc-header .navbar-inverse .brand, #glc-doc .glc-header .navbar-inverse .nav > li > a {
		text-transform: uppercase;
		font-size: 12px;
		color: #9fa1a6;
	}
		#glc-doc .glc-header .navbar-inverse .nav > li > a:hover {
			color: #fff;
			font-weight: 800;
		}
		#glc-doc .glc-header .navbar .navbar-inner{
		    -webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
/* Footer */	
#glc-doc .glc-footer{
	background-color: #D9D9D9;
    border-top: 1px solid #B9B9B9;
    color: #FFFFFF;
    padding: 40px 0 20px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
	#glc-doc .glc-footer .about {
		max-width: 300px;
	}
/* login */
#glc-doc .container .row-fluid .glc-bl-center {
    float: none;
    margin: 0 auto;
}
#glc-doc .glc-login{
}
	#glc-doc .glc-login .form-signin{
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
		#glc-doc .glc-login .form-signin input{
			width: 100%;
		}
			#glc-doc .glc-login .form-signin input[type="text"]{
			    margin-bottom: -1px;
			    border-bottom-left-radius: 0;
			    border-bottom-right-radius: 0;
			}
			#glc-doc .glc-login .form-signin input[type="password"]{
			    margin-bottom: 10px;
			    border-top-left-radius: 0;
			    border-top-right-radius: 0;
			}
	#glc-doc .glc-login .account-wall{
	    margin-top: 20px;
	    padding: 40px 0px 20px 0px;
	    background-color: #f7f7f7;
	    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	}
	#glc-doc .glc-login .login-title{
	    color: #555;
	    font-size: 18px;
	    font-weight: 400;
	    display: block;
	}
	#glc-doc .glc-login .new-account{
	    display: block;
	    margin-top: 10px;
	}
	#glc-doc .glc-login .form-signin .form-control{
	    position: relative;
	    font-size: 16px;
	    height: auto;
	    padding: 10px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
/* carousel */      
#glc-doc .carousel .glc-carousel-info{	
}
	#glc-doc .carousel.glc-carousel-info .carousel-inner .item{
		text-align: center;
	}
		#glc-doc .carousel.glc-carousel-info .carousel-inner .item img{
			display: inline;
		}

/* blocos */ 
#glc-doc .bl-rows .row-fluid,
#glc-doc .bl-rows .row{
	margin-bottom: 30px;
}
#glc-doc .bl-destaque {
    background-image: linear-gradient(#F9FAFA, #FFFFFF 50%, #FFFFFF);
    border-top: 1px solid #D9D9D9;
    box-shadow: 0 1px white inset, 0 -1px white inset;
}
	#glc-doc .bl-destaque.bl-destaque-conteudo {
	    padding: 40px 0;
	    text-align: center;
	}
		#glc-doc .bl-destaque.bl-destaque-conteudo h1 {
			font-size: 32px;
			text-transform: lowercase;
		}
#glc-doc .bl-conteudo{
	margin-top: 40px;
}
	#glc-doc .bl-conteudo .bl-conteudo-destaque{
		background-image: linear-gradient(#F9FAFA, #FFFFFF 50%, #F9FAFA);
	    border: 1px solid #D9D9D9;
		padding: 15px 8px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		 margin: 40px 0;
	}
#glc-doc .bl-info{
	margin-top: 100px;
	text-align: center;
	margin-bottom: 40px;
}
#glc-doc .bl-bar{
	padding: 8px 0 0;
}
	#glc-doc .bl-bar .breadcrumb{
		background:transparent;
		margin: 0;
		padding: 0 15px;
	}
	
/* Publicidade */
#glc-doc .glc-publicidade{
	margin: 40px 0;
}
	#glc-doc .glc-publicidade.glc-publicidade-margin-bottom{
		margin-top: 0;
		margin-bottom: 40px;
	}
	#glc-doc .glc-publicidade.glc-publicidade-margin-top{
		margin-top: 40px;
		margin-bottom: 0;
	}
	#glc-doc .glc-publicidade p.glc-pub-info {
	    color: #9C9C9C;
	    font-size: 0.75em;
	    height: 14px;
	    line-height: 1.5;
	    overflow: hidden;
	    text-transform: uppercase;
	}
	#glc-doc .glc-publicidade .bl-pub-superbanner{
		margin: 0 auto;
	    text-align: center;
	    width: 728px;
	}
	#glc-doc .glc-publicidade .bl-pub-square{
		margin: 0 auto;
	    text-align: center;
	    width: 300px;
	}
		#glc-doc .glc-publicidade .bl-pub-superbanner div{
		    min-height: 90px;
		}
		#glc-doc .glc-publicidade .bl-pub-superbanner p.glc-pub-info{
			text-align: left;
		}

/*****************************************************************************
* Paginas
****/
/*Home*/
.glc-home{
}
	.glc-home #glc-doc .glc-header-bg{
		display: none;
	}
	.glc-home #glc-doc .glc-home-stream {
	    background: url(/images/style/default/bg-stream.jpg);
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 60px 0;
	}
	.glc-home #glc-doc .bl-destaque.bl-destaque-conteudo{
		 margin-top: 0;
	}
	.glc-home #glc-doc .glc-header{
		 margin-bottom: 0;
	}
	.glc-home #glc-doc #myCarousel.carousel{
		margin-bottom: 0;
	}

/*about*/
.glc-about{
}
	.glc-about #glc-doc .glc-about-content .glc-header {
	    background: url(/images/style/default/slide-lol-01.jpg);
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 10px 0;
	}
	.glc-about #glc-doc .glc-header{
		 margin-bottom: 0;
	}

/*Stream*/
.glc-stream{
}
	.glc-stream #glc-doc .glc-stream-content .glc-header {
	    background: url(/images/style/default/bg-stream.jpg);
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 10px 0;
	}

/*Streaming*/
.glc-streaming{
	background: #202020;
}
	.glc-streaming #glc-doc .glc-btn-close-pub{
		background: #FFF;
		border: 1px solid #d4d4d4;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.glc-streaming #glc-doc .glc-header-bg{
		display: none;
	}
	.glc-streaming #glc-doc .glc-streaming-content .glc-header{
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    height: 130px;
	    position: relative;
	    margin-bottom: 0;
	}
	.glc-streaming #glc-doc .glc-streaming-content .glc-streaming-player-image {
		margin-top: 40px;
		text-align: center;
	}	
	.glc-streaming #glc-doc .glc-streaming-content .glc-streaming-player {
		background: #F4F4F4;
		padding: 115px 0 50px;
		text-align: center;
	}
	.glc-streaming #glc-doc .glc-streaming-content .glc-streaming-player-image .img-circle.glc-image-profile{
		border: 8px solid #F4F4F4;
		margin: 0 auto -130px;
	}
	.glc-streaming #glc-doc .glc-streaming-content .glc-streaming-player-data {
		margin: 20px auto 40px;
		display: block;
	    position: relative;
	    text-align: center;
	}

		.glc-streaming #glc-doc .glc-streaming-content .glc-streaming-player-data .glc-box {
			background: none repeat scroll 0 0 #FFFFFF;
		    border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
		    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
		    display: inline-block;
		    font-size: 0.9em;
		    margin: 0;
		    padding: 12px 18px;
		    text-align: left;
		    border: none;
		}
		.glc-streaming #glc-doc .glc-streaming-content .glc-streaming-player-data .glc-streaming-player-title{

		}
		.glc-streaming #glc-doc .glc-streaming-content .glc-streaming-player-data .glc-streaming-player-explain{
			border-bottom: 1px solid #DDDDDD;
			display: block;
			padding-top: 0;
		}
		.glc-streaming #glc-doc .glc-streaming-content .glc-streaming-player-data .arrow-player-data{
			border-bottom: 12px solid #FFFFFF;
		    border-left: 12px solid rgba(0, 0, 0, 0);
		    border-right: 12px solid rgba(0, 0, 0, 0);
		    height: 0;
		    left: 50%;
		    margin-left: -12px;
		    position: absolute;
		    text-indent: -9999px;
		    text-shadow: none;
		    top: -10px;
		    width: 0;
		}
/* usuario editar*/
.glc-user-edit{
}
	.glc-user-edit #glc-doc .glc-user-edit-content .glc-header {
	    color: #fff;
	    text-shadow: 2px 2px 2px #000000;
	    padding: 60px 0;
	    height: 160px;
	}
	.glc-user-edit #glc-doc .glc-user-edit-content .glc-user-edit-form {
	    margin: 60px 0;
	}
	.glc-user-edit #glc-doc .glc-user-edit-content .glc-header .img-circle.glc-image-profile.pull-left{
		margin-right: 15px;
	}
	.glc-user-edit #glc-doc .glc-header{
		 margin-bottom: 0;
	}

#glc-doc #footer .about {
	font-size: 12px;
	color: #9FA1A6;
}

/*****************************************************************************
* Plugins
****/
/*bootstrap-tagsinput*/
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
  line-height: 22px;
}
	.glc-user-edit #glc-doc .glc-user-edit-content .glc-user-edit-form .bootstrap-tagsinput {
		margin: 0;
		display: inline-block;
    	float: none;
    	width: 40.1709%;
	}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
.carousel-caption h1, .carousel-caption .lead {
    color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
}
    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
         -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.71);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
      text-shadow: none;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
	    background: none repeat scroll 0 0 rgba(122, 98, 155, 0.9);
	    margin-top: 150px;
	    max-width: 570px;
	    padding: 10px 20px 25px;
	    position: static;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: none;
    }
    	.carousel-caption .lead {
    		margin-top: 10px;
    	}
        .carousel-caption .lead strong {
          margin-top: 5px;
          display: block;
        }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }



.navbar-inner {
min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2)) !important;
background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2) !important;
background-image: -o-linear-gradient(top, #ffffff, #f2f2f2) !important;
background-image: linear-gradient(to bottom, #ffffff, #f2f2f2) !important;
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #7A629B;
text-decoration: none;
background-color: #e5e5e5;
-webkit-box-shadow: none;
-moz-box-shadow: none;
text-shadow: none;
box-shadow: none;
font-weight: 800;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
color: #7a629b;
text-decoration: none;
background-color: transparent;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
border-top-color: #333333 !important;
border-bottom-color: #333333 !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
color: #555555 !important;
background-color: #e5e5e5 !important;
}