.sharrre .box {
	float: left;
}

.sharrre .count {
	color: #444444;
	display: block;
	font-size: 17px;
	line-height: 34px;
	height: 34px;
	padding: 4px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 50px;
	background-color: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.sharrre .share {
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	margin-top: 3px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: auto;
	background-color: #9CCE39;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.sharrre .buttons {
	width: auto;
}

.sharrre .button {
	display:inline-block;
		/** hack ie **/
		*float:left;
		*display:inherit;
	width: auto;
	height: auto;
	margin-left: 10px;
}

.sharrre .button:first-child {
	margin-left: 0;
}

/** Demos **/
.demo1.sharrre {
}
.demo2.sharrre {
}
.demo3.sharrre {
}
.demo4.sharrre {
}
.demo5.sharrre {
	display:inline-block;
		/** hack ie **/
		*float:left;
		*display:inherit;
	margin:68px 25% 0 25%;
}