## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.log
*_log.*
*.svn
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.bz
*.bz2
*.tbz
*.tbz2
*.tar.gz
*.tar.bz
*.tar.bz2
stream/app/protected/runtime
stream/app/protected/runtime/*
stream/app/assets/*
stream/app/images/uploads/players/covers/*

#eclipse files
.buildpath
.project
.settings/

#dbconfigs
stream/app/protected/config/init.php

#logs Yii
stream/app/error_log.txt
stream/app/protected/runtime/application.log
