/* icon */

/* components */
.glc-logo{	
}
.glc-box{
	background: none repeat scroll 0 0 #3F3D3D;
    border-bottom: 3px solid #3F3D3D;
    border-top: 3px solid #3F3D3D;
    -webkit-box-shadow:  0 0 6px 0 #3F3D3D;
	-moz-box-shadow:   0 0 6px 0 #3F3D3D;
	box-shadow:   0 0 6px 0 #3F3D3D;
}
	.glc-box-icon{
		position: relative;
	}
	.glc-box .glc-box-game-icon{
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 50;
	}
	.glc-box .glc-box-image{
		max-width: 370px; 
		max-height: 130px; 
		overflow: hidden;
	}
	.glc-box a:hover, .glc-box a:focus {
	    color: #FFFFFF;
	    opacity: 0.9;
	    text-decoration: none;
	}
	.glc-box .glc-box-caption{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
		color: #FFFFFF;
		line-height: 20px;
		padding: 15px;
	}
		.glc-box .glc-box-caption.glc-box-caption-text-right{
			text-align: right;	
		}
	
.glc-carousel{
    margin: 40px 0;
}
	.glc-carousel .carousel{ 
		margin-bottom: 0;
	}
	.glc-carousel .carousel.glc-carousel-info .carousel-inner .item {
    	text-align: left;
	}
	.glc-carousel .carousel .carousel-indicators li {
    	border: 1px solid #000000;
	}
		.glc-carousel .carousel .carousel-indicators li.active {
	    	background: #000000;
		}
/* navbar */
.glc-header{
	margin-bottom: 20px;
}
	.glc-header .glc-header-logo{
    	min-height: 80px;
    	background: url("/images/style/default/header-stream.jpg") repeat scroll 0 130px;
	}
	.glc-header .glc-header-inner{
    	background-color: #000000;
	}
		.glc-header .glc-header-inner .navbar-inverse .navbar-inner {
			background-image: none;
			background-color: #000000;
			background-repeat: inherit;
			border-color: transparent;
		}
	.glc-header .navbar .brand{
		padding: 0;
	}
	.glc-header .navbar {
    	margin-bottom: 0;
	}
		.glc-header .navbar .navbar-inner{
		    -webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
/* Footer */	
.glc-footer{
	background:#000000;
	padding: 40px 0 20px;
	color: #FFFFFF;
}

/* carousel */      
.carousel .glc-carousel-info{	
}
	.carousel.glc-carousel-info .carousel-inner .item{
		text-align: center;
	}
		.carousel.glc-carousel-info .carousel-inner .item img{
			display: inline;
		}

/* blocos */ 
.bl-rows .row-fluid,
.bl-rows .row{
	margin-bottom: 30px;
}
.bl-destaque {
    background-image: linear-gradient(#F9FAFA, #FFFFFF 50%, #FFFFFF);
    border-top: 1px solid #D9D9D9;
    box-shadow: 0 1px white inset, 0 -1px white inset;
}
	.bl-destaque.bl-destaque-conteudo {
		margin-top: 40px;
	    padding: 40px 0;
	    text-align: center;
	}
.bl-conteudo{
	margin-top: 40px;
}
	.bl-conteudo .bl-conteudo-destaque{
		background-image: linear-gradient(#F9FAFA, #FFFFFF 50%, #F9FAFA);
	    border: 1px solid #D9D9D9;
		padding: 15px 8px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		 margin: 40px 0;
	}
.bl-info{
	margin-top: 60px;
	text-align: center;
}
.bl-bar{
	padding: 8px 0 0;
}
	.bl-bar .breadcrumb{
		background:transparent;
		margin: 0;
		padding: 0 15px;
	}
	
/* Publicidade */
.glc-publicidade{
	margin: 40px 0;
}
	.glc-publicidade.glc-publicidade-margin-bottom{
		margin-top: 0;
		margin-bottom: 40px;
	}
	.glc-publicidade.glc-publicidade-margin-top{
		margin-top: 40px;
		margin-bottom: 0;
	}
	.glc-publicidade p.glc-pub-info {
	    color: #9C9C9C;
	    font-size: 0.75em;
	    height: 14px;
	    line-height: 1.5;
	    overflow: hidden;
	    text-transform: uppercase;
	}
	.glc-publicidade .bl-pub-superbanner{
		margin: 0 auto;
	    text-align: center;
	    width: 728px;
	}
		.glc-publicidade .bl-pub-superbanner div{
		    min-height: 90px;
		}
		.glc-publicidade .bl-pub-superbanner p.glc-pub-info{
			text-align: left;
		}